@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Lora', sans-serif;
    font-weight: 300;
    color: rgb(57, 55, 55);
    background-image: url(../images/white.jpg);
   }

/*headings, logo and nav bar*/

h1, h2, h3, a {
    font-weight: 300;
    color: inherit;
    font-family: 'Montserrat', sans-serif;
   }

header {
    height: 50px;
}

#nav {
  overflow: hidden;
  background-color: rgba(241, 223, 58, 0.995) !important;
  position: fixed; 
  width: 100%; 
  height: 50px;
  z-index: 1;
}

.left {
    float: left;
    padding-left: 20px;
    padding-top: 15px;
}

.right {
    float: right;
    padding: 15px 15px 15px 15px;
}

.left, .right {
    display: block;
    text-decoration: none;
    line-height: 25px;
}

.left:hover {
    /*
    color: #f8f8f8;
    */
    transform: scale(1.2); 
}

.right:hover {
   /*
    color: #f8f8f8;
    */
    transform: scale(1.3); 
}



#quote {
    padding-top: 5px;
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#image-header {
    background: url(../images/welcome.jpg) center 70% / cover no-repeat;
    height: 500px;
}

#quote-header {
    padding-top: 350px;
    text-align: center;
    color: #f8fafb;
}

/* 5 rules */

#concept {
    height: 500px;
    width: 100%;
}

#video {
    float: right;
    padding-right: 100px;
    padding-top: 85px;
}

#left-box {
    float: left;
    margin: 100px 150px 100px 150px;
}

#left-box h2 {
    padding-top: 30px;
}

#left-box ol {
    padding-top: 20px;
}




#left-box li {
    padding-bottom: 10px;
}





/* benefits section */

#benefits {
    height: 500px;
}

#benefits-image {
    background: url(../images/lemon.jpg) center 70% / cover no-repeat;
    height: 500px;
    background-size: cover;
}

#benefits-info {
    text-align: left;
    padding-top: 50px;
    padding-right: 50px;
    color: #ffffff;
    float: right;
    
}
#benefits ul {
    list-style: circle;
}

#benefits li {
    margin-bottom: 15px;
}

#benefits h2 {
    margin-bottom: 30px;
}

/* form */

#join-form {
    height: 500px;
}

#form-container {
    border-radius: 25px;
    padding: 20px;
    width: 400px;
    height: 400px;
    color: rgb(8, 8, 8);
    max-width: 400px;
    position: absolute;
    margin-top: 50px;
    left: 35%;
}
/*
#form-container {
    border-radius: 25px;
    padding: 20px;
    width: 400px;
    height: 400px;
    color: rgb(8, 8, 8);
    background-color: rgba(144, 196, 223, 0.5);
    max-width: 400px;
    position: absolute;
    margin-top: 50px;
    left: 35%;
}
*/
.text-input {
    background: transparent;
    color:  rgb(57, 55, 55);
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid rgb(57, 55, 55);;
    border-radius: 2px;
}

.text-input:hover {
    border-color: rgba(205, 143, 157, 0.995);

}

.fas:hover {
    transform: scale(1.2);
    color:  rgba(205, 143, 157, 0.995);
}

form h2 {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

#submit {
    margin-top: 10px;
    margin-left: 38%;
    border-radius: 2px;
    padding: 10px 30px 10px 30px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(57, 55, 55);
    color: white;
    left: 30%;
}

#submit:hover {
    transform: scale(1.1); 
    color: rgba(205, 143, 157, 0.995);
    /*
    background-color: rgba(205, 143, 157, 0.995);

    background-color: #fafafa;
    /*
    color: #f16c6b;
    */

    
}

/* section footer */

    

footer{
    height: 100px;
    width: 100%;
    background-color: rgba(63, 168, 225, 0.7)
}


#footer-info {
    padding-top: 35px;
}


#footer-info a {
    margin-left: 15%;
}

.right-align {
    float: right;
    padding-right: 15px;
}

.left-align {
    float: left;
    padding-left: 15px;
}

.fab {
    font-size: larger;
}

.fab:hover{
    transform: scale(2.2);
}




/*
#concept-boxes {
    width: 100%;
    padding-left: 25px;
    padding-top: 45px;
}
#concept h2 {
    text-align: center;
    padding-top: 30px;
}

#concept h1 {
    text-align: center;
}

#concept-boxes div {
    width: 16%;
    height: 300px;
    float: left;
    padding: 50px 30px 30px 30px;
    text-align: center;
    border: 5px solid white;
    box-sizing: border-box;
}

hr {
    border-top: 1px solid #4E676D;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 10px; 
}
*/





