@import url('https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: #4E676D;
   }

/*headings and logo*/

h1, h2, h3, a {
    font-weight: 500;
    color: inherit;
   }

#logo {
    float: left;
    margin-left: 20px;
    font-size: 180%;
}

/* navigation bar */

#menu {
    font-size: 130%;
    margin-right: 20px; 
}

#logo, #menu {
    line-height: 55px;
}

#menu li {
    float: right;
    margin-right: 20px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

#menu a:hover {
    color: #c5759d;
}


/* quote and image section */

#quote {
    padding-top: 10px;
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#image-header {
    background: url(../images/sunrise.jpg) center 80% / cover no-repeat;
    height: 400px;
}

#quote-header {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    position: absolute;
    color: #4E676D;
}

/* 5 rules */

#concept {
    height: 500px;
    margin-top: 20px;
}

#concept-table h2 {
    text-align: center;
    margin-bottom: 35px;
}

#table {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

th {
    background-color: #c5759d;
}




